@CHARSET "UTF-8";

/************************************************/
/* easy RESPONSIVE|HARMONICA|NESS CLASS   (WIP) */
/************************************************/
/*
    .harmonicaH/V: use to define a flexbox (FBL) parent container holding the harmonica "folding" elements.

    .harmonicaH/V > * - harmonica "folding" elements (flexed child elements)

    H - Horizontal  a row of several folds next to eachother     (.harmonicaH)
    V - Vertical    a column of several folds below to eachother (.harmonicaV)

    Explanation:

    - grow hovered flexed child element to given flex-basis
    - shrink the other flexed child elements to: (width [or height] * flex-basis) / (#elements - 1)
    - optionally adjust them to specified flexed element width/height constraints (or fill parent, the default)

    A flex-basis of 100% hides sibling child elements when they have no minimum sizes => 80% or 90% works best

    Functionality for either classes or custom data attributes is equal,
    but the latter are easier to manipulate/toggle in Javascript.
*/
/* [MANDATORY] */
[class^="harmonica"]            { display: flex; flex-wrap: nowrap; height: 100%; width: 100% }

.harmonicaH                     { flex-direction: row }
.harmonicaV                     { flex-direction: column }
.harmonicaHR                    { flex-direction: row-reverse }
.harmonicaVR                    { flex-direction: column-reverse }

[class^="harmonica"]>*          { flex: 1 1 0; overflow: hidden; transition: all 150ms ease-in-out }
[class^="harmonica"]>*:hover    { flex: 1 1 80% }

/* [OPTIONAL] */
.harmonicaH>*,.harmonicaHR>*    { height: 100%; max-height: 100% }
.harmonicaV>*,.harmonicaVR>*    { width : 100%; max-width : 100% }

[class^="harmonica"]>input[name^="harm"] { display:none; position:absolute; overflow:hidden; clip:rect(0 0 0 0);
                                           z-index:-999999; top:-999999px; margin:-1px; padding:0; border:0;
                                           height:1px; width:1px; min-height:0; min-width:0; max-height:0; max-width:0 }




